.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

/* Desktop and Tablet Responsive Design */
@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Makes all cards in a row the same height */
    padding: 0 30px;
    gap: 40px;
  }
}
